.root {
    -fx-font-size: 24;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
    -fx-min-width: 100%;
}

.button {
    -fx-background-color: rgba(255, 127, 0, .8), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    -fx-background-radius: 3;
    -fx-padding: 6 12;
    -fx-text-fill: #fff;
    -fx-start-margin: 4;
    -fx-animated: true;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .5), 4, 0, 0, 1);
}
.button:hover {
    -fx-background-color: rgba(255, 127, 0, 1), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .5), 8, 0, 0, 1);
}
.button:pressed {
    -fx-background-color: rgba(255, 127, 0, 1), linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
    -fx-cursor: hand;
}
.button:hover:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .5), 4, 0, 0, 1);
}

.button.primary {
    -fx-background-color: rgba(0, 255, 0, .6), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    -fx-font-size: 2em;
}
.button.primary:hover {
    -fx-background-color: rgba(0, 255, 0, 1), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}
.button.primary:pressed {
    -fx-background-color: rgba(0, 255, 0, 1), linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
}

.button.secondary {
    -fx-background-color: rgba(0, 127, 255, .8), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}
.button.secondary:hover {
    -fx-background-color: rgba(0, 127, 255, 1), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}
.button.secondary:pressed {
    -fx-background-color: rgba(0, 127, 255, 1), linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
}

.button .text {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 0, 0.0, 0, -1);
}
