#root {
    -fx-font-size: 24;
    -fx-font-family: "Courier New";
    -fx-base: #fff;
    -fx-background: #222;
}

.game-menu {
    -fx-background-color: radial-gradient(center 50% 50%, radius 90%, #444, #000);
}

.credit {
    -fx-font-size: .7em;
    -fx-fill: #ddd;
    -fx-effect: dropshadow(gaussian, #000, 0, 0.0, 0, -1);
    -fx-text-alignment: center;
}

.text {
    -fx-effect: dropshadow(gaussian, #000, 0, 0.0, 0, -1);
}

.window-border .button {
    -fx-max-width: 52px;
    -fx-min-width: 52px;
    -fx-max-height: 52px;
    -fx-min-height: 52px;
    -fx-font-size: .8em;
}

.game {
    -fx-background-color: #333;
}

.button {
    -fx-background-color: rgba(255, 127, 0, .8), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    -fx-background-radius: 3;
    -fx-padding: 6 12;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .5), 4, 0, 0, 1);
}
.button:hover {
    -fx-background-color: rgba(255, 127, 0, 1), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .5), 8, 0, 0, 1);
}
.button:pressed {
    -fx-background-color: rgba(255, 127, 0, 1), linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
    -fx-cursor: hand;
}
.button:hover:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .5), 4, 0, 0, 1);
}

.button.primary {
    -fx-background-color: rgba(0, 255, 0, .6), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    -fx-font-size: 2em;
}
.button.primary:hover {
    -fx-background-color: rgba(0, 255, 0, 1), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}
.button.primary:pressed {
    -fx-background-color: rgba(0, 255, 0, 1), linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
}

.button.secondary {
    -fx-background-color: rgba(0, 127, 255, .8), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}
.button.secondary:hover {
    -fx-background-color: rgba(0, 127, 255, 1), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}
.button.secondary:pressed {
    -fx-background-color: rgba(0, 127, 255, 1), linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
}

.button.danger {
    -fx-background-color: rgba(255, 0, 0, .8), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}
.button.danger:hover {
    -fx-background-color: rgba(255, 0, 0, 1), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}
.button.danger:pressed {
    -fx-background-color: rgba(255, 0, 0, 1), linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
}

.button .text {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 0, 0.0, 0, -1);
}
